@font-face {
  font-family: Overpass Thin;
  src: url("overpass-v12-latin-100.41caebf5.woff2") format("woff2");
}

@font-face {
  font-family: Overpass Light;
  src: url("overpass-v12-latin-300.2206d351.woff2") format("woff2");
}

@font-face {
  font-family: Overpass Regular;
  src: url("overpass-v12-latin-regular.8504cb0a.woff2") format("woff2");
}

@font-face {
  font-family: Overpass ExtraBold;
  src: url("overpass-v12-latin-800.a84a6ccd.woff2") format("woff2");
}

:root {
  letter-spacing: .1px;
  color: var(--color-white);
  font-family: Overpass Regular, sans-serif;
  font-size: 16px;
}

.ahVdMa_coverText {
  font-family: Overpass Light, sans-serif;
  font-size: 5.875rem;
}

.ahVdMa_subText {
  font-family: Overpass Thin, sans-serif;
  font-size: 2.25rem;
}

.ahVdMa_regularText {
  font-family: Overpass Regular, sans-serif;
  font-size: 1rem;
}

.ahVdMa_importantText {
  font-family: Overpass ExtraBold, sans-serif;
}

@media screen and (max-width: 700px) {
  .ahVdMa_coverText {
    font-size: 4.375rem;
  }

  .ahVdMa_subText {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 500px) {
  .ahVdMa_coverText {
    font-size: 2.8125rem;
  }

  .ahVdMa_subText {
    font-size: 1.25rem;
  }
}

html, body {
  margin: 0;
}

:root {
  --color-white: #fff;
  --color-white-rgb: 255 255 255;
  --color-orange: #f96943;
  --color-primary: #440031;
  --color-primary-rgb: 249 105 67;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--color-primary);
  flex-direction: column;
  display: flex;
}

@media screen and (min-width: 1600px) {
  body {
    background-size: contain;
  }
}

.header {
  width: 100%;
  height: 3.75rem;
  box-sizing: border-box;
  background: #33002566;
  justify-content: space-between;
  align-items: center;
  padding-inline: calc(50% + min(90%, 69.375rem) / -2);
  display: flex;
  position: absolute;
  top: 0;
}

.header .title {
  margin: 0;
  font-family: Overpass Light, sans-serif;
  font-size: 2.25rem;
}

@media screen and (max-width: 700px) {
  .header .title {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 500px) {
  .header .title {
    font-size: 1.25rem;
  }
}

.header .navLine {
  letter-spacing: -.1px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  display: flex;
}

.header .navLink {
  text-decoration: none;
}

.header .navLink img {
  vertical-align: bottom;
}

.header .kiltLink {
  height: 2.25rem;
  width: 9.375rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background: var(--color-orange) no-repeat center / 3rem auto;
  text-align: center;
  border: none;
  border-radius: .3125rem;
  margin-left: 3rem;
  font-size: 1rem;
  line-height: 2.25rem;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .header .navLine {
    font-size: .75rem;
  }

  .header .kiltLink {
    height: 1.25rem;
    width: 2.5rem;
    background-size: 1.75rem;
  }
}

@media screen and (max-width: 991px) {
  .header .navLink:not(:first-child),
  .header .kiltLink {
    display: none;
  }
}

.cover {
  width: 100%;
  padding-inline: calc(50% + min(90%, 69.375rem) / -2);
  box-sizing: border-box;
  background: url("splash.1fa7c66c.jpg") 0 0 / contain no-repeat;
  flex-direction: column;
  align-items: center;
  padding-top: 9.375rem;
  display: flex;
}

@media screen and (max-width: 500px) {
  .cover {
    padding-block: 4rem 9.375rem;
  }
}

@media screen and (min-width: 1500px) {
  .cover {
    background-size: 100%;
  }
}

.heading {
  background: url("did_logo.657cc52a.svg") top no-repeat;
  margin: 0 0 .75rem;
  padding-top: 2rem;
  font-family: Overpass Thin, sans-serif;
  font-size: 5.875rem;
}

@media screen and (max-width: 700px) {
  .heading {
    font-size: 4.375rem;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 2.8125rem;
  }
}

.subline {
  margin: 0;
  font-family: Overpass Thin, sans-serif;
  font-size: 2.25rem;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .subline {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 500px) {
  .subline {
    font-size: 1.25rem;
  }
}

.infoContainer {
  margin: 2rem 0 0;
}

@media screen and (min-width: 500px) {
  .infoContainer {
    margin: 5rem 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .infoContainer {
    margin: 9.25rem 0 0;
  }
}

.infoHeading {
  margin: 0;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .infoHeading {
    font-size: 0.75rem;
  }
}

.infoTagline {
  margin: 0 0 1rem;
  font-family: Overpass Thin, sans-serif;
  font-size: 3rem;
}

@media screen and (max-width: 700px) {
  .infoTagline {
    font-size: 2.25rem;
  }
}

.info {
  margin-block: .75rem;
  font-size: 1.3125rem;
  line-height: 1.5rem;
}

.infoPoints {
  margin-block: .75rem;
  padding-left: 2rem;
  font-size: 1.3125rem;
  line-height: 1.5rem;
}

.infoPoint {
  line-height: 1.75rem;
}

@media screen and (max-width: 700px) {
  .info,
  .infoPoints {
    font-size: 1rem;
  }
}

.container {
  box-sizing: border-box;
  max-width: 75rem;
  background: rgb(var(--color-primary-rgb) / 10%);
  border: 1px solid rgb(var(--color-primary-rgb) / 50%);
  flex-direction: column;
  margin-top: 6.75rem;
  padding: 2.25rem 3.125rem 1.5rem;
  font-family: Overpass Regular, sans-serif;
  font-size: 1rem;
  display: flex;
  position: relative;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem .75rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 120%;
  }
}

.container:not(:first-of-type) {
  margin-top: .75rem;
}

.step {
  margin: 0;
}

.containerTitle {
  margin-block: 0;
  font-family: Overpass Thin, sans-serif;
  font-size: 2.25rem;
}

.container h3 {
  background: #f9694380;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-inline: .25rem;
  font-family: Overpass Thin, sans-serif;
  font-size: 1.5rem;
  display: inline-block;
}

address {
  font-style: normal;
}

a {
  color: #fff;
}

hr {
  width: 100%;
  border: 0;
  border-top: 2px solid #df860180;
}

.toggle {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  background: url("arrow.605e3822.svg") .375rem .25rem / .625rem no-repeat;
  border: 2px solid #fff;
  border-radius: .75rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transform: rotate(-90deg);
}

.container.collapsed {
  border-color: #f9694340;
  padding-bottom: 3rem;
}

.container.collapsed > :not(.step, .containerTitle, .toggle) {
  display: none;
}

.container.collapsed .toggle {
  background-color: #f96943b3;
  transform: rotate(90deg);
}

.imageLink {
  align-items: center;
  gap: .5rem;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-flex;
}

.extensions {
  align-items: flex-start;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .extensions {
    flex-direction: column;
  }
}


.extension {
  height: 3.125rem;
  width: 11.875rem;
  letter-spacing: -1px;
  border: 1px solid #ffffff80;
  border-radius: .25rem;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 1rem;
  font-family: Overpass Light, sans-serif;
  font-size: .6875rem;
  line-height: 1rem;
  text-decoration: none;
  display: inline-flex;
}

.extension strong {
  width: 8.5rem;
  font-size: 1rem;
}

.checkoutLink {
  font-size: 1rem;
  display: block;
}

.photoCitation {
  font-size: .625rem;
  font-style: inherit;
  writing-mode: vertical-rl;
  position: absolute;
  top: 4.5rem;
  right: .5rem;
  transform: rotate(180deg);
}

.outro {
  margin: 1.5rem auto 0;
  padding-left: 3.25rem;
  font-family: Overpass Light, sans-serif;
  background: no-repeat left top / 41px;
}


.footer {
  width: 100%;
  box-sizing: border-box;
  background: url("footer.ac9a5776.png") top / cover no-repeat;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: 1.25rem 3.625rem;
  padding-inline: calc(50% + min(90%, 69.375rem) / -2);
  display: flex;
}

.footerHeading {
  margin: 0 0 .25rem;
  font-size: 1rem;
}

.footer .navMenu {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-wrap: wrap;
    padding-block: 2rem 1.375rem;
  }

  .footer .navMenu {
    width: 50%;
    align-items: flex-start;
  }
}

.footer .navLink {
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-white);
  margin: .25rem 0;
  text-decoration: none;
  display: inline-block;
}

.footer .support {
  margin: 1.5rem 0 0;
}

.footer .copyright {
  text-align: right;
  flex-grow: 2;
  align-self: flex-end;
  margin: 0;
  font-size: .75rem;
}

@media screen and (max-width: 480px) {
  .footer .copyright {
    flex-grow: 1;
    align-self: flex-end;
    text-align: left;
    width: 50%;
  }
}
